@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
.left_sidebar{
  position: fixed;
  top: 0;
  width: 15em;
  height: 100vh;
  /* padding-right: 15px; */
  /* margin-right: 15px; */
  float: left;
  font-style: italic;
  background-color: lightgray;
  /* background image gradient code  */
  background-image: linear-gradient(rgba(237,241,244,0.9),rgba(237,241,244,0.9)),url('../img/mountain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* end */
}
.custom_container_left_sidebar{
  /* margin-top: 4em; */
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;  
}
.left_sidebar_profile{
 text-align: center;
}
.left_sidebar_profile_pic{
  margin-top: 1em;
  width: 5em;
  border-radius: 50%;
  border: 5px solid white;
}
.left_sidebar_profile_name{
  font-weight: 500;
  /* font-family: 'Roboto'; */
  font-style: normal;
}
.left_sidebar_menu_div{
  margin-top: 5em;
  cursor:default;
}
.left_sidebar_menu{
  font-style: normal;
  margin-left: 1em;
  /* border-bottom: 1px solid black; */
}
.home_icon{
  font-size: "1.6em";
}
.icon_value{
  font-style: normal;
  font-size: 1em;
  margin-left: 1em;
}
.home_icon_div{
  margin-top: 1em;
  display:flex;
  margin-left: 1em;
}
.home_icon_div:hover{
  color: #0156ed;
  cursor: pointer;
}